.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #720d94;         /* Cor das setas */
  background: #FFF;
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #000;
  color: #fff;
}

/* Estilizar a paginação */
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
  width: 12px;
  height: 12px;
  margin: 0 4px !important;
  border: 2px solid #720d94;
  transition: background 0.3s;
}

.swiper-pagination-bullet-active {
  background: #720d94;
  opacity: 1;
}